body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
   
}

.hero {
    background: #1F2937;
    height: 400px;
}

.one {
    display: flex;
    justify-content: space-evenly;
}

.two { 
   display:flex;
   justify-content: space-evenly;

}

.img {
    display: flex;
    gap: 30px;
    height: 150px;
    margin-top: 50px;
    width: 400px;
    background:rgb(63, 61, 61);
}

 .para {
    color:#e5e8f0;
}

.ip {
    color: #F9FAF8;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    
}

.sign {
    background-color: #3882F6;
    border-radius: 7px;
    font-size: 20px;
    color: #F9FAF8;
    border: 2px solid  #3882F6;
    font-weight: 900;
}

.main {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF9;
    display: flex;
    padding: 0%;
    
   
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    display:flex;
    gap: 30px;
    list-style-type: none;
    font-weight: bold;
   }

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    
   }

.web {
    margin-bottom: 50px;
}

/*SECOND SECTION*/

.info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}


 .box {
    width: 100px;
    height: 100px;
    border: 4px solid #3882F6;
    border-radius: 10PX;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.third {
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    justify-content: center;
    align-items:center ;
    font-weight: 36px;
    font-family: italic;
    color:#1F2937;
    height: 200px;

}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    
}

.action {
    border: 3px solid #3882F6;
    width: 1000px;
    display: flex;
    justify-content:space-around ;
    gap: 20px;
    height: 100px;
    border-radius: 10px;
    background-color: #3882F6;
    margin-bottom: 70px;
    margin-top: 50px;
}

.but {
    margin-bottom: 32px;
    margin-top: 32px;
    width: 112px;
    border-radius: 8px;
    font-weight:900;
    color: #F9FAF8;
    border: 2px solid white;
    background-color: #3882F6;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 200px;
    width: 100%;
    
}

.second {
    height: 300px;
    width: 100%;
}

blockquote {
    display: flex;
    justify-content: center;
}


